fastapi
uvicorn
fastapi_chameleon
aiofiles
python-multipart
starlette
jinja2
librosa
numpy
pandas
pydub
sklearn
matplotlib
torch
soundfile
scipy
IPython
transformers
python-multipart
pytest-shutil
orjson
gunicorn